#main {
    margin-top: 50px;
}

.card {
    border-radius: 2px;
    display: flex;   
    margin: 12px;
    border: solid;
}

.avatar {
    max-width: 300px;
    max-height: 300px;
}

.container {
    padding: 10px;
}

.container-r {
    padding: 10px;
}
#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

.search {
    position: absolute;
    max-height: 20px;
    right: 50px;
    top: 12px;
    z-index: 999;
    cursor: pointer;
}

a {
  padding: 4px;
  display: inline-block;
}

input[type="text"] {
    position: absolute;
    top: 0;
    left: 0;
}
  
#sortBy {
    position: relative;
    left: 0;
    top: 40px;
    width: 100%;
    background-color: white;
    padding: 10px;
}

.sort-title {
    font-size: 20px;
}

.btn {
    background-color: white;
    color: black;
    padding: 7px 14px;
    cursor: pointer;
}

.amount {
    color: gray;
}

.amount:hover {
    background-color: rgb(87, 86, 86);
}

.date {
    color: gray;
}

.date:hover {
    background-color: rgb(87, 86, 86);
}
